@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@700&family=Roboto&display=swap");

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  @apply tracking-normal;
}
/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
video {
  pointer-events: none
}
/* fonts  */
.custom-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* .custom-open-sans {
  font-family: "Open Sans", sans-serif;
} */
.custom-roboto {
  font-family: "Roboto", sans-serif;
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.vh80 {
  min-height: 80vh;
}
.vh120 {
  min-height: 120vh;
}
.vh40 {
  min-height: 40vh;
}

.text-shd {
  text-shadow: 1px 2px 20px #807777;
}
.txt-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shd {
  text-shadow: 1px 1px 2px #f18f43;
}

.dropFilter {
  backdrop-filter: blur(50px);
}

.text-main {
  @apply font-medium;
  @apply text-gray-700;
}
.txt-main {
  /*color: #f18f43;*/
  color: #484A47;
}
.txt-s {
  /*color: #f18f43;*/
  color: #E88873;
}
.txt-ss {
  color:#433E3F
}
.text-s{
  color:#C18C5D
}
.bgN{
  background: #C69C72;
}
.mainbg{
  background: #eaeaea;
}

/* .mainbg {
  background: rgb(228, 231, 14);
  background: -webkit-linear-gradient(
    to left,
    rgb(245, 219, 74),
    rgb(238, 202, 43)
  );
  background: linear-gradient(to left,     rgb(245, 219, 74),
  rgb(238, 202, 43));
  width: 100%;
} */
.Sbg {
  background-color: #f1f4ffff;
}

.center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.nav-ink {
  @apply text-xl;
  @apply font-semibold;
  @apply text-gray-900;
}


.active-link {
  /* border-bottom: solid 2px #f18f43; */
  transition: border-bottom 150ms ease-in;
}
.active-link:hover {
  border-bottom: solid 2px #f18f43;
}



